/* index page*/
:root{
  --bgcolor:mintcream;
  --red: #B33951;
  --green: #223127;
  --purple: #8B80F9;
  --lgreen: #63A088;
}

body{
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

#map-container{
  height:100%;
}

#map{
    width:100%;
    height: 100%;
}

#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
  }
  
  #infowindow-content .title {
    font-weight: bold;
  }
  
  #infowindow-content {
    display: none;
  }
  
  #map #infowindow-content {
    display: inline;
  }
  
  .pac-card {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    font-family: Roboto;
    padding: 0;
  }
  
  #pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
  }
  
  .pac-controls {
    display: inline-block;
    padding: 5px 11px;
  }
  
  .pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }
  
  #pac-input {
    background-color: var(--bgcolor);
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
  }
  
  #pac-input:focus {
    border-color: #4d90fe;
  }
  
  #title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
  }
  
  #target {
    width: 345px;
  }

body{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

.app{
  width:100vw;
  height:100vh;
  display:flex;
  flex-direction: column;
}

.app-header{
  width:100%;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  background-color: var(--bgcolor);
}

.app-header-left{
  display:flex;
  align-items: center;
}

.logo{
  width: 75px;
  height: 75px;
  cursor:pointer;
}

.logo svg{
  width:100%;
  height:100%;
}

.profile{
  width: 60px;
  height: 60px;
  cursor: pointer;
  position: relative;
}
.profile svg{
  width:100%;
  height:100%;
}

.hidden{
  display:none;
}

.menu{
  top:100%;
  right:0;
  z-index: 1000;
  background-color: var(--bgcolor);
  width:100px;
  min-height:150px;
  position:absolute;
  box-shadow:0px 3px 15px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
}

#menu-welcome{
  margin-top:5px;
  margin-left:5px;
}

.recent-searches{
  margin-top:15px;
  cursor:pointer;
  margin-bottom: 15px;
  margin-left: 5px;
}

.recent-searches:hover{
  color: var(--lgreen);
}

.logout{
  cursor:pointer;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left:5px;
}

.logout:hover{
  color:var(--lgreen);
}
.parkingstatus-red{
  color: red;
}

.parkingstatus-grey{
  color: rgb(122, 120, 120);
}

.parkingstatus-green{
  color: green;
}

.overlay{
  width:100%;
  height:100%;
  background-color: var(--bgcolor);
  padding: 1rem;
  font-size: 1rem;
}

.header{
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--purple);
}

.feedbackform{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.3);
  top:0;
  left:0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
}

.feedbackform-inner{
  display:flex;
  flex-direction: column;
  background-color: var(--bgcolor);
  width: 75%;
  height: 75%;
  border-radius: 1rem;
  padding: 2.5rem;
  min-height: 45rem;
}

.feedbackform-form{
  width:100%;
  height:100%;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
}

.feedbackform-categorybox{
  margin-top: 20px;
  margin-bottom: 35px;
}

.feedbackform-commentbox{
  margin-bottom: 50px;
}

.feedbackform-locationbox{
  margin-bottom: 50px;
}

.feedbackform label{
  margin-left:10px;
  margin-top:2px;
  font-weight: bold;
}
.feedbackform legend{
  font-size: 1.4rem;
  margin-bottom:10px;
}
.feedbackform select{
  background-color: #c7f4dd;
  border-radius: 0.7rem;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  width:100%;
}
.feedbackform textarea{
  background-color: #c7f4dd;
  border-radius: 0.7rem;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  width:100%;
}

.feedbackform .number{
	background: var(--lgreen);
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 15px 15px 15px 0px;
}

.feedbackform button{
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: var(--lgreen);
  border-radius: 2rem;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid var(--lgreen);
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}

.feedbackform button:hover{
  cursor: pointer;
  background-color: var(--green);
}


.issue{
  margin-top: 30px;
  margin-bottom:1px;
}

.overlay-button{
  cursor:pointer;
  padding-top:2px;
  margin-top:2px;
  font-weight: 500;
}

.hidden{
  display: none;
}